/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #03071e;
    flex-direction: column;
    font-family: 'Shippori Antique', sans-serif;
}

header{
    display: flex;
    height: 12vh;
    justify-content: space-between;
}

/* Header Left */
.headLeft{
    margin: 0 0 0 50px;
    color: white;
    font-family: 'Shippori Antique', sans-serif;
}
.headLeft h1 i{
    margin-right: 10px;
}
.logoLeft{
    color: #4cc9f0;
    padding-right: 5px;
}

/* Header Right */
.headRight{
    width: 25vw;
    margin-right: 50px;
}

.headRight nav ul{
    list-style: none;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.headRight nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.headRight nav ul li a:hover{
    color: #4cc9f0;
    border-color: #4cc9f0;
}
.headRight nav ul li:last-child{
    background-color: #0466C8;
    padding: 10px;
    border-radius: 7px;
    margin-top: -10px;
}
.headRight nav ul li:last-child a:hover{
    color: white;
    border-bottom: none;
}

/* Main */
main{
    width: 100%;
    margin: 0;
}

section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
    margin: auto;
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 40px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}

.booking{
    width: 60%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 40px;
    background-color: #3d5a80;
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 0 3.5px #212529;
    overflow: hidden;
}

.booking p{
    align-self: center;
    font-size: 15px;
    padding: 0 40px;
    color: white;
}

.booking img{
    width: 40%;
}


/* Responsive */
@media screen and (max-width : 1350px){
    .booking{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .booking:last-of-type{
        flex-direction: column-reverse;
    }
    .booking p{
        padding: 20px;
    }
    #image1,#image2{
        width: auto;
        height: 200px;
        object-fit: contain;
    }
}

@media screen and (max-width : 800px){
    section{
        width: 100%; 
    }
    .booking{
        width: 90%;
    }
}

@media screen and (max-width : 600px){
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 20vh;
    }
    section{
        margin-bottom: 20px;
    }
    .headLeft{
        width: 100%;
        margin: 0;
    }
    .headRight{
        width: 100%;
    }
    .headRight nav ul{
        justify-content: space-around;
    }
    
}